:root {
    --size: 20em;
}

@media (min-width: 40em) {
    :root {
        --size: 40em;
    }
}

* {
    box-sizing: content-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
}

.css-houdini {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blobs {
    background-image: paint(blobs);
}

#modal {

    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 2rem;
    backdrop-filter: blur(2px);
    padding: 2rem;
    color: white;
}
